html, body {
  height: 100%;
}

body {
  padding-top: 120px;
}

@media screen and (max-width: 768px){
  body {padding-top: 0px;}
}

.navbar.navbar-fixed-top {
  height: 100px;
  background-color: #004E43;
}

.navbar.navbar-fixed-top a {
  color: #D4D4D4;
  text-decoration: none;
}

.navbar.navbar-fixed-top li {
  font-size: 18px;
}

.navbar.navbar-fixed-top a {
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar.navbar-fixed-top a:hover {
  color: #979797;
}

.navbar-brand {
  font-size: 22px;
}

.navbar-form {
  padding-top: 27px;
}

#content {
  min-height: 100%;
  margin-bottom: 100px;
}

.navbar.navbar-bottom {
  margin-bottom: 0;
}

footer {
  height: 100px;
  bottom: 0;
  width: 100%;
  background-color: #004E43;
}

#footer-content {
  padding-top: 25px;
}

#footer-content a {
  color: #D4D4D4;
  text-decoration: none;
}

#footer-content a:hover {
  color: #BDBDBD;
}

#footer-content {
  color: #D4D4D4;
}

#footer-content li {
  list-style: none;
}

.name-list li {
  list-style: none;
  font-size: 2.5em;
}

.name-list a{
  color: #505050;
  text-decoration: none;
}

.name-list a:hover {
  color: #979797;
}

.row {
  height: 100%;
}

.thumbnail {
  max-height: 300px;
}

.thumbnail a img{
  max-height: 190px;
}

.thumbnail .caption li{
  list-style: none;
  text-decoration: none;
}

.fullsize{
  max-width: 50%;
  max-height: 50%;
}

.center ul{
  padding-top: 10px;
}